---
import Layout from "../../layouts/Layout.astro";
import OgpCard from "../../components/OgpCard.astro";
import { getCollection } from "astro:content";
import { externalPosts } from "../../data/external-posts";

const posts = await getCollection("posts").then((posts) => {
  posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts;
});
---

<Layout>
  <h1>Posts</h1>
  {
    posts.length ? (
      posts.map((post) => (
        <div class="post-preview">
          <a href={`/posts/${post.data.date.toISOString().split("T")[0]}`}>
            <h3>
              {post.data.date.toISOString().split("T")[0]} - {post.data.title}
            </h3>
            <p>{post.body?.slice(0, 100)}...</p>
          </a>
        </div>
      ))
    ) : (
      <p>記事はまだ投稿されていません</p>
    )
  }

  <section>
    <h2>外部で公開している記事</h2>
    <div class="flex flex-col gap-4">
      {
        externalPosts.map((post) => (
          <OgpCard url={post.url} publishedAt={post.publishedAt} />
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .post-preview {
    padding: 16px 32px;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-bottom: 24px;
  }

  .post-preview a {
    text-decoration: none;
    color: inherit;
  }

  .post-preview a:hover {
    text-decoration: underline;
  }
</style>
