---
import { type WorkTags } from "../../data/works";
import TagTips from "./TagTips.astro";
import Pugma from "../../assets/pugma.png";

interface Props {
  title: string;
  description: string;
  thumbnail: ImageMetadata | undefined;
  tags: WorkTags;
}

const { title, description, thumbnail = Pugma, tags } = Astro.props;
---

<article
  class="relative z-0 isolate flex w-full min-h-48 flex-col gap-2 overflow-hidden rounded-2xl border border-border bg-transparent px-4 py-8"
  style={`--bg-image: url(${thumbnail.src})`}
>
  <h3 class="m-0">{title}</h3>
  <TagTips tags={tags} />
  <p>{description}</p>
</article>

<style>
  article::before {
    content: "";
    position: absolute;
    inset: 0 0 0 55%;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    clip-path: polygon(20% 0, 0 100%, 100% 100%, 100% 0);
    filter: brightness(0.2);
    z-index: -1;
  }
</style>
