---



import { Image } from "astro:assets";

interface Props {
  images: Array<{ alt: string; src: ImageMetadata }>;
}

const { images } = Astro.props;
---

{
  images.length > 0 && (
    <div class="flex flex-wrap gap-2">
      {images.map((img) => (
        <Image
          src={img.src}
          alt={img.alt}
          class="max-h-40 w-auto rounded border border-border"
        />
      ))}
    </div>
  )
}
