---
import SectionLayout from "../SectionLayout.astro";
---

<SectionLayout title="略歴">
  <h3>学業</h3>
  <ul>
    <li>
      東京工業大学(現: 東京科学大学 理工学系) 情報理工学院 情報工学系
      <ul>
        <li>2023年4月 入学</li>
        <li>
          2025年4月
          <a
            href="https://www.sa.comp.isct.ac.jp/ja/"
            target="_blank"
            rel="noopener">小林研究室</a
          > 所属
        </li>
        <li>2026年3月 卒業</li>
      </ul>
      <li>
        東京科学大学大学院 理工学系 情報理工学院 情報工学系 情報工学コース
        <ul>
          <li>2026年4月 入学</li>
        </ul>
      </li>
    </li>
  </ul>

  <h3>サークル・その他所属団体</h3>
  <ul>
    <li>
      <a href="https://trap.jp/" target="_blank" rel="noopener">
        東京科学大学デジタル創作同好会traP
      </a>
      <ul>
        <li>2024年 渉外補佐</li>
        <li>2025年 渉外</li>
      </ul>
    </li>
    <li>
      <a
        href="https://www.cyberagent.co.jp/careers/special/students/tech_lounge/"
        target="_blank"
        rel="noopener"
      >
        CyberAgent - CA Tech Lounge
      </a>
      <ul>
        <li>2024年12月 ~</li>
        <li>分野は Webフロントエンド</li>
      </ul>
    </li>
  </ul>

  <h3>アルバイト</h3>
  <ul>
    <li>
      <a href="https://www.cri-mw.co.jp/" target="_blank" rel="noopener">
        株式会社CRI・ミドルウェア
      </a>
      <ul>
        <li>2024年2月 ~</li>
        <li>TeleXusの研究・開発補助を担当</li>
      </ul>
    </li>
    <li>
      <a href="https://dubguild.com/" target="_blank" rel="noopener">
        株式会社DubGuild
      </a>
      <ul>
        <li>2025年8月 ~</li>
        <li>マイクロサービスの開発やそれらを束ねるインフラ構築を担当</li>
      </ul>
    </li>
  </ul>

  <h3>インターンシップ</h3>
  <ul>
    <li>
      <a href="https://pocketsign.co.jp/" target="_blank" rel="noopener">
        ポケットサイン株式会社
      </a>
      <ul>
        <li>2026年4月 ~</li>
      </ul>
    </li>
  </ul>

  <h3>資格</h3>
  <ul>
    <li>TOEIC L&R - 895点 (第333回)</li>
  </ul>
</SectionLayout>
