---
import SectionLayout from '../SectionLayout.astro';
---

<SectionLayout title="好きなこと・興味のあること">
    <h3>技術者コミュニティへの参加</h3>
    <p>
        カンファレンスへやイベントへの参加に興味があり、
        <a href="https://tech-circle-expo.connpass.com/" target="_blank" rel="noopener noreferrer">Tech Circle Expo</a>
        や
        <a href="https://cloudnativedays.jp/" target="_blank" rel="noopener noreferrer">CloudNative Days</a>
        を始めとする各種イベントに参加しています。
        特に、CloudNative Days Winter 2025では学生スカラシップによる登壇をさせていただきました。
    </p>
    <p>
        他にも、所属しているデジタル創作同好会traPにおいてTech Circle Expoへの参加を呼びかけるなど、積極的に技術者コミュニティへの参加を促す活動も行っています。
    </p>
    <h3>インフラ領域</h3>
    <p>
        これまではWebフロントエンドやバックエンドを中心に創作活動に取り組んできましたが、近頃はインフラ領域に興味を持っています。
        デジタル創作同好会traPにおいてKubernetesを用いたインフラ環境の改善に取り組んだり、サークル内IdPの整備に取り組んだりしています。
        これらの活動を通して、サークル内製アプリの開発がさらに快適に、そして活発になるように努めています。
    </p>
</SectionLayout>
