---
import SectionLayout from "../SectionLayout.astro";
---

<SectionLayout title="自分のアピールできる能力">
  <div>
    <h3>自分の考えや相手の考えを言語化すること</h3>
    <p>
      集団制作を行う際に最も重要なことは、チーム全体で認識をすり合わせることだと考えています。
      ここで、認識のすり合わせには双方が抱いているイメージを言語化し、相手にうまく伝えることが必要だと思います。
      私はこういった場面で、まずはお互いが思い描いているものを言語化し、それらのどこが一致していて、どこが異なるのかを分析するところから始めるようにしています。
    </p>
    <p>
      他にも、記事の執筆にも積極的に取り組んでいます。 2024
      年にはサークルの公式サイトから約 20
      本もの記事を投稿しました。他にも、企業様のブログに記事を寄稿させていただいたこともあります。
    </p>
  </div>
  <div>
    <h3>チームのモチベーションを高めること</h3>
    <p>
      集団で作業を行う際に、チームメンバーのモチベーション維持も必要だと思います。私は、開発の目的を明確化したり、期限を予めはっきりさせておくことにより、メンバーに開発の意義を分かってもらったうえで、開発に臨んでもらうようにしています。
    </p>
  </div>
</SectionLayout>
