name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: 
      - deploy
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Checkout content repository
        uses: actions/checkout@v6
        with:
          repository: Pugma/blog-content
          path: ./src/pages/posts/contents
          token: ${{ secrets.BLOG_CONTENT_GITHUB_PAT }}

      - name: Setup mise
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build project
        run: pnpm build

      - name: Deploy to Production
        uses: cloudflare/wrangler-action@v3
        with:
          command: pages deploy
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
